{% extends "_layouts/cp" %}
{% set title = "Webtexttool Dashboard v" ~ craft.app.plugins.getPlugin('webtexttool').getVersion() | t %}

{% block content %}
    <div ng-app="wttDashboard" ng-controller="appController">
        <div ng-view></div>
    </div>
{% endblock %}