<div>
    <wtt-page-slideout info="data2.sliderInfo"></wtt-page-slideout>

    <div class="suggestions-box" ng-class="{'active': actionConfig.active}" id="{[domId]}">
        <script type="text/ng-template" id="suggestion-popover-template.html">
            <div ng-bind-html="tip"></div>
        </script>
        <div class="suggestions-header">
            <button class="wtt-btn-collapse" type="button" ng-click="suggestion.isCollapsed = !suggestion.isCollapsed">
                <i class="fa"
                   ng-class="{'fa-angle-down': !suggestion.isCollapsed, 'fa-angle-right': suggestion.isCollapsed}"></i>
            </button>
            <h3>{[displayName]}</h3>
            <button class="wtt-btn wtt-btn-link wtt-btn-xs wtt-btn-help wtt-btn-help-cq" type="button"
                    uib-wtt-popover-template="'suggestion-popover-template.html'" popover-append-to-body="true"
                    popover-trigger="mouseenter" popover-placement="top"><i class="fa fa-question-circle"></i></button>
            <div class="material-switch pull-right">
                <input id="{[suggestion.Tag]}" type="checkbox" ng-change="actionConfig.action({value:0})"
                       ng-model="actionConfig.active"/>
                <label for="{[suggestion.Tag]}" class="label-success"></label>
            </div>
            <uib-wtt-progressbar animate="true" max="suggestion.Importance" value="suggestion.displayScore"
                                 type="{[suggestion.progressType]}" ng-if="!actionConfig.display"></uib-wtt-progressbar>
            <div class="progress progress-gradient" ng-if="actionConfig.display=='gradient'">
                <div class="progress-bar progress-bar-left progress-bar-danger" role="progressbar">
                    {[suggestion.Tag + 'LowScale']}
                </div>
                <div class="progress-bar progress-bar-right progress-bar-danger" role="progressbar">
                    {[suggestion.Tag + 'HighScale']}
                </div>
                <i class="fa fa-caret-up fa-2x progress-indicator" aria-hidden="true"
                   ng-style="{'left':suggestion.Importance + '%'}"></i>
            </div>
        </div>
        <div class="suggestions-content" uib-collapse="suggestion.isCollapsed">
            <div style="text-align: center;padding-bottom: 10px;" ng-if="actionConfig.buttons.length > 0">
                <div class="wtt-btn-group">
                    <a type="button" class="wtt-btn wtt-btn-xs"
                       ng-class="actionConfig.selected(btn) ? 'wtt-btn-success' : 'wtt-btn-default'"
                       ng-click="actionConfig.action(btn)" ng-repeat="btn in actionConfig.buttons"><span
                            ng-bind-html="btn.label"></span></a>
                </div>
            </div>
            <ul class="suggestions-list">
                <li ng-repeat="rule in suggestion.Rules" ng-class="{'checked': (rule.Checked|boolText)}">
                    <i class="fa" ng-class="{'fa-circle-o': !(rule.Checked|boolText), 'fa-check-circle': (rule.Checked|boolText)}"></i><span
                        ng-bind-html="rule.Text"></span>
                    <button type="button" ng-if="rule.ExtraInfo" class="wtt-btn wtt-btn-link wtt-btn-xs" id="viewExtraInfo"
                            ng-click="viewExtraInfoList(rule)" title="Display List"><i class="fa fa-lg fa-eye"
                                                                                       aria-hidden="true"></i></button>
                </li>
                <li ng-if="!suggestion.Rules">
                    </i><span ng-bind-html="tip"></span>
                </li>
            </ul>
        </div>
    </div>

</div>